@import "tailwindcss";

@layer components {
   /* Neautral styles */
    .hr {
        @apply h-[1px] w-full bg-zinc-700;
    }

   /* Left Content */
    .links {
        @apply flex items-center space-x-3 hover:bg-neutral-900 w-fit p-2 pr-2 xl:pr-8 cursor-pointer rounded-full;
    }
    .icons {
        @apply !text-[1.7rem] ;
    }




   /* Main content */

   .icon-btns {
    @apply cursor-pointer hover:bg-zinc-900 px-1.5 py-0.5 rounded-full !text-xl;
   }

   /* Post Image */
   .post-image {
    @apply max-h-80 max-w-70 sm:max-w-full sm:h-60 object-contain rounded-2xl border-[1px] border-zinc-700;
   }


    /* Left asidebar news. */
    .card {
        @apply flex justify-between hover:bg-neutral-900 py-3 cursor-pointer;
    }
    .card-more {
        @apply  text-gray-500 pl-0.5 !text-xl;
    }
    
    .follow-btn {
        @apply text-black cursor-pointer hover:bg-gray-200 bg-white p-0.5 px-2 xl:p-1 xl:px-4 font-medium rounded-2xl;
    }
    
}